In [37]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import KFold
from sklearn.utils import check_array
from sklearn import metrics
from sklearn.metrics import mean_absolute_error
from scipy.stats import kurtosis, skew

In [38]:
df = pd.read_excel("/Users/chouhouren/Desktop/世界杯資料.xlsx")
#df = df.dropna()
df

    結果    隊賠率  隊賠率.1   局賠率      隊伍   隊伍.1    0  賠率低贏
0    2   3.40   1.80  3.25     西班牙    葡萄牙  1.0  賠率高贏
1    1  10.00   1.08  7.25      澳洲     法國  2.0    和局
2    2  10.00   1.15  5.00      冰島    阿根廷  NaN   NaN
3    0   1.90   3.30  3.00      丹麥     祕魯  NaN   NaN
4    0   5.00   1.45  3.60    奈及利亞  克羅埃西亞  NaN   NaN
5    0   1.65   3.75  3.40    塞爾維亞  哥斯大黎加  NaN   NaN
6    1   8.00   1.20  4.75     墨西哥     德國  NaN   NaN
7    2   6.75   1.28  4.25      瑞士     巴西  NaN   NaN
8    0   4.00   1.70  3.10      南韓     瑞典  NaN   NaN
9    0  12.50   1.10  6.00     巴拿馬    比利時  NaN   NaN
10   0   1.35   6.00  4.00     英格蘭   突尼西亞  NaN   NaN
11   1   5.50   1.45  3.40      日本   哥倫比亞  NaN   NaN
12   1   3.40   1.80  3.20    塞內加爾     波蘭  NaN   NaN
13   0   3.40   1.75  3.30      埃及    俄羅斯  NaN   NaN
14   0   6.25   1.35  3.75     摩洛哥    葡萄牙  NaN   NaN
15   0   8.00   1.12  6.75  沙烏地阿拉伯    烏拉圭  NaN   NaN
16   0   1.10   9.50  6.50     西班牙     伊朗  NaN   NaN
17   2   3.75   1.70  3.25      澳洲     丹麥  NaN   NaN
18   0   6.75   1.30  4.00      祕魯     法國  NaN   NaN
19   1   4.00   1.65  3.25   克羅埃西亞    阿根廷  NaN   NaN

In [39]:
x = np.array(df.iloc[:,1:4])
y = np.array(df.iloc[:,0])
x = np.array([np.concatenate((v,[1])) for v in x])

In [40]:
linreg = LinearRegression(fit_intercept=False)

In [41]:
kf = KFold(len(x), n_folds=10)
xval_err = 0
for train,test in kf:
    linreg.fit(x[train],y[train])
    p = linreg.predict(x[test])
    e = p-y[test]

In [42]:
#y_test=pd.DataFrame(y[test])
#y_test=np.exp(y_test)
#np.exp(y[test])
#y_test=pd.DataFrame(y[test])
y_test=np.exp(y[test])
y_test

array([ 1.        ,  2.71828183])

In [43]:
#p = pd.DataFrame(p)
p = np.exp(p)
p

array([ 2.35189114,  2.1522538 ])

In [44]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [45]:
MAPE=mean_absolute_percentage_error(y_test,p).round(2)
MAPE

78.010000000000005

In [46]:
RMSE=np.sqrt(metrics.mean_squared_error(y_test,p)).round(0)
RMSE

1.0

In [47]:
MAE=mean_absolute_error(y_test, p).round(2)
MAE

0.95999999999999996

In [48]:
def Hit_Rate_error(y_test,predict_value,alpha):
    
    df_yp=[]
    y_test=pd.DataFrame(y_test,columns=['y_test'])
    predict_value=pd.DataFrame(predict_value,columns=['predict_value'])
    df_yp = pd.concat([y_test,predict_value],axis=1)#y_test and predict_value
    命中值 =[(df_yp['predict_value']<df_yp['y_test']+df_yp['y_test']*alpha)&(df_yp['predict_value']>df_yp['y_test']-df_yp['y_test']*alpha)]
    choices = [1]
    df_yp['命中值'] = np.select(命中值,choices,default=0)
    HIT_rate = (df_yp['命中值'].sum()/len(y_test)*100).round(2)
    return HIT_rate

In [49]:
Hit_Rate_error(y_test,p,0.1)

0.0

In [50]:
Hit_Rate_error(y_test,p,0.2)

0.0

In [51]:
from sklearn.metrics import r2_score
R2=r2_score(y_test, p).round(2)
R2

-0.46000000000000002

In [52]:
print('R2:'+str(R2))
print('MAPE:'+str(MAPE))
print('MAE:'+str(MAE))
print('RMSE:'+str(RMSE))
#print('HIT_rate_10:'+str(HIT_rate_10))
print('HIT_rate_20:'+str(HIT_rate_20))

#print('{:20}{:.10}'.format('HIT_rate_10:', HIT_rate_10))

R2:-0.46
MAPE:78.01
MAE:0.96
RMSE:1.0

NameError: name 'HIT_rate_20' is not defined