In [1]:
import pandas as pd
import numpy as np
df =pd.read_excel('/Users/chouhouren/Desktop/論文資料_新/建模型資料/df_實際模型.xlsx')
#a= df.describe()

#a = pd.DataFrame(a).T
#a.to_excel('鄰避設施直線距離描述.xlsx')
df.corr().to_excel('實際距離相關係數.xlsx')

,count,mean,std,min,25%,50%,75%,max
count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.000000,0.984557,0.790325,0.993610,0.998465,0.998608,0.968408
std,NaN,0.984557,1.000000,0.703030,0.959529,0.974041,0.986967,0.986855
min,NaN,0.790325,0.703030,1.000000,0.833100,0.806569,0.771862,0.687460
25%,NaN,0.993610,0.959529,0.833100,1.000000,0.997609,0.989042,0.944923
50%,NaN,0.998465,0.974041,0.806569,0.997609,1.000000,0.995516,0.958481
75%,NaN,0.998608,0.986967,0.771862,0.989042,0.995516,1.000000,0.965480
max,NaN,0.968408,0.986855,0.687460,0.944923,0.958481,0.965480,1.000000