In [63]:
from math import sin, cos, sqrt, atan2, radians
import pandas as pd
import numpy as np
from geopy.distance import great_circle

df_實價登錄座標 = pd.read_excel("/Users/chouhouren/Desktop/實價登錄清理.xlsx")

df_迎毗設施_捷運站出口 = pd.read_excel("/Users/chouhouren/Desktop/論文資料/外部特徵座標檔/迎毗設施座標.xlsx",sheet_name="捷運出口")

df_迎毗設施_鄰里公園 = pd.read_excel("/Users/chouhouren/Desktop/論文資料/外部特徵座標檔/迎毗設施座標.xlsx",sheet_name="鄰里公園(大於1公頃)")

df_迎毗設施_大公園 = pd.read_excel("/Users/chouhouren/Desktop/論文資料/外部特徵座標檔/迎毗設施座標.xlsx",sheet_name="大型公園(大於10公頃)")

df_迎毗設施_百貨公司 = pd.read_excel("/Users/chouhouren/Desktop/論文資料/外部特徵座標檔/迎毗設施座標.xlsx",sheet_name="百貨公司")

df_迎毗設施_體育館 = pd.read_excel("/Users/chouhouren/Desktop/論文資料/外部特徵座標檔/迎毗設施座標.xlsx",sheet_name="台北市室內體育場館")

df_迎毗設施_明星國小 = pd.read_excel("/Users/chouhouren/Desktop/論文資料/外部特徵座標檔/迎毗設施座標.xlsx",sheet_name="明星國小")

df_迎毗設施_明星國中 = pd.read_excel("/Users/chouhouren/Desktop/論文資料/外部特徵座標檔/迎毗設施座標.xlsx",sheet_name="明星國中")

In [64]:
def distance_caculation(x1,y1,x2,y2):
    R = 6373000

    lat1 = radians(x1)
    lng1 = radians(y1)
    
    lat2 = radians(x2)
    lng2 = radians(y2)

    dlng = lng2 - lng1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlng / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c

    return distance

In [65]:
#1.捷運出口
x_1 = df_實價登錄座標["lat"]
y_1 = df_實價登錄座標["lng"]
x_2 = df_迎毗設施_捷運站出口["lat"]
y_2 = df_迎毗設施_捷運站出口["lng"]


#call the function

dflist_distance_2 = []
for a1,n1 in zip(x_1,y_1):
    for a2,n2 in zip(x_2,y_2):
        
        x1 =a1
        y1 =n1
        x2 =a2
        y2 =n2
        result = distance_caculation(x1,y1,x2,y2)
        
        dflist_distance_2.append(result)
        
df_捷運站出口距離 = pd.DataFrame(dflist_distance_2)



df_捷運站出口距離_重組 = df_捷運站出口距離.values.reshape((13626,363))

df_捷運站出口距離_重組_pd = pd.DataFrame(df_捷運站出口距離_重組.min(axis=1),columns=["捷運出口"])

df_捷運站出口距離_重組_pd.head()

          捷運出口
0   242.707518
1  1419.936682
2  1264.848396
3   725.347717
4   147.070452

In [66]:
#2.鄰里公園
x_1 = df_實價登錄座標["lat"]
y_1 = df_實價登錄座標["lng"]
x_2 = df_迎毗設施_鄰里公園["lat"]
y_2 = df_迎毗設施_鄰里公園["lng"]


#call the function

dflist_distance_2 = []
for a1,n1 in zip(x_1,y_1):
    for a2,n2 in zip(x_2,y_2):
        
        x1 =a1
        y1 =n1
        x2 =a2
        y2 =n2
        result = distance_caculation(x1,y1,x2,y2)
        
        dflist_distance_2.append(result)
        
df_鄰里公園距離 = pd.DataFrame(dflist_distance_2)



df_鄰里公園距離_重組 = df_鄰里公園距離.values.reshape((13626,128))

df_鄰里公園距離_重組_pd = pd.DataFrame(df_鄰里公園距離_重組.min(axis=1),columns=["鄰里公園"])

df_鄰里公園距離_重組_pd.head()

          鄰里公園
0   667.933411
1    72.342251
2  1278.634616
3   698.114435
4   832.244013

In [67]:
#3.大公園
x_1 = df_實價登錄座標["lat"]
y_1 = df_實價登錄座標["lng"]
x_2 = df_迎毗設施_大公園["lat"]
y_2 = df_迎毗設施_大公園["lng"]

 
#call the function

dflist_distance_2 = []
for a1,n1 in zip(x_1,y_1):
    for a2,n2 in zip(x_2,y_2):
        
        x1 =a1
        y1 =n1
        x2 =a2
        y2 =n2
        result = distance_caculation(x1,y1,x2,y2)
        
        dflist_distance_2.append(result)

df_大公園 = pd.DataFrame(dflist_distance_2)

df_大公園_重組 = df_大公園.values.reshape((13626,12))

df_大公園_重組_pd = pd.DataFrame(df_大公園_重組.min(axis=1),columns=["大公園"])

df_大公園_重組_pd.head()

           大公園
0  1810.758083
1  4563.562008
2  1477.955132
3  2662.498845
4  1119.953883

In [68]:
#4.百貨公司
x_1 = df_實價登錄座標["lat"]
y_1 = df_實價登錄座標["lng"]
x_2 = df_迎毗設施_百貨公司["lat"]
y_2 = df_迎毗設施_百貨公司["lng"]


#call the function

dflist_distance_2 = []
for a1,n1 in zip(x_1,y_1):
    for a2,n2 in zip(x_2,y_2):
        
        x1 =a1
        y1 =n1
        x2 =a2
        y2 =n2
        result = distance_caculation(x1,y1,x2,y2)
        
        dflist_distance_2.append(result)

df_百貨公司距離 = pd.DataFrame(dflist_distance_2)

df_百貨公司距離_重組 = df_百貨公司距離.values.reshape((13626,33))

df_百貨公司距離_重組_pd = pd.DataFrame(df_百貨公司距離_重組.min(axis=1),columns=["百貨公司"])

df_百貨公司距離_重組_pd.head()

          百貨公司
0  1489.570621
1  3904.729363
2  2437.113955
3  1629.907986
4  2839.302849

In [69]:
#4.體育館
x_1 = df_實價登錄座標["lat"]
y_1 = df_實價登錄座標["lng"]
x_2 = df_迎毗設施_體育館["lat"]
y_2 = df_迎毗設施_體育館["lng"]


#call the function

dflist_distance_2 = []
for a1,n1 in zip(x_1,y_1):
    for a2,n2 in zip(x_2,y_2):
        
        x1 =a1
        y1 =n1
        x2 =a2
        y2 =n2
        result = distance_caculation(x1,y1,x2,y2)
        
        dflist_distance_2.append(result)

df_體育館距離 = pd.DataFrame(dflist_distance_2)

df_體育館距離_重組 = df_體育館距離.values.reshape((13626,13))

df_體育館距離_重組_pd = pd.DataFrame(df_體育館距離_重組.min(axis=1),columns=["體育館"])

df_體育館距離_重組_pd.head()

           體育館
0  1915.332871
1  2585.658502
2  2776.945732
3   424.624137
4  3182.900076

In [70]:
#4.明星國小
x_1 = df_實價登錄座標["lat"]
y_1 = df_實價登錄座標["lng"]
x_2 = df_迎毗設施_明星國小["lat"]
y_2 = df_迎毗設施_明星國小["lng"]


    
#call the function

dflist_distance_2 = []
for a1,n1 in zip(x_1,y_1):
    for a2,n2 in zip(x_2,y_2):
        
        x1 =a1
        y1 =n1
        x2 =a2
        y2 =n2
        result = distance_caculation(x1,y1,x2,y2)
        
        dflist_distance_2.append(result)

df_明星國小距離 = pd.DataFrame(dflist_distance_2)

df_明星國小距離_重組 = df_明星國小距離.values.reshape((13626,12))

df_明星國小距離_重組_pd = pd.DataFrame(df_明星國小距離_重組.min(axis=1),columns=["明星國小"])

df_明星國小距離_重組_pd.head()

          明星國小
0  2259.456908
1  5778.699057
2  1994.437422
3  4033.198056
4  1877.367951

In [71]:
#4.明星國中
x_1 = df_實價登錄座標["lat"]
y_1 = df_實價登錄座標["lng"]
x_2 = df_迎毗設施_明星國中["lat"]
y_2 = df_迎毗設施_明星國中["lng"]


    
    
#call the function

dflist_distance_2 = []
for a1,n1 in zip(x_1,y_1):
    for a2,n2 in zip(x_2,y_2):
        
        x1 =a1
        y1 =n1
        x2 =a2
        y2 =n2
        result = distance_caculation(x1,y1,x2,y2)
        
        dflist_distance_2.append(result)

df_明星國中距離 = pd.DataFrame(dflist_distance_2)

df_明星國中距離_重組 = df_明星國中距離.values.reshape((13626,14))

df_明星國中距離_重組_pd = pd.DataFrame(df_明星國中距離_重組.min(axis=1),columns=["明星國中"])

df_明星國中距離_重組_pd.head()

          明星國中
0  2204.721486
1   448.135657
2  3152.899274
3  2680.577096
4   543.523463

In [72]:
df_迎毗設施周邊距離 = pd.concat([ df_捷運站出口距離_重組_pd,
                               df_鄰里公園距離_重組_pd,
                               df_大公園_重組_pd,
                               df_百貨公司距離_重組_pd,
                               df_體育館距離_重組_pd,
                               df_明星國小距離_重組_pd,
                               df_明星國中距離_重組_pd,
                               ],axis=1)
                               


df_迎毗設施周邊距離.to_excel("df_迎毗設施直線距離.xlsx")